<app-menu></app-menu>
<div class="fondo">
  <mat-grid-list cols="4" rowHeight="100px" class="list">
    <mat-grid-tile colspan="4" rowspan="1" class="hero-text">
      <h1 style="font-size:50px">Sala de Juegos</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" class="hero-text">
      <h3 style="font-size:30px">Micaela Saez</h3>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <button mat-raised-button color="warn" (click)="Ingresar()">
        Ingresar
        <img src="/assets/imagenes/login.png" class="imgn">
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
      <img src="/assets/imagenes/cabecera.png">
    </mat-grid-tile>
  </mat-grid-list>
</div>
