<app-menu></app-menu>
<div class="fondo">
  <div class="midle">
    <div class="input">
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="2" style="background-color: #ffba3a;">
          <img src="/assets/imagenes/adivina.png" class="imgn">
        </mat-grid-tile>
        <mat-grid-tile class="mostrar" colspan="3" rowspan="1" style="background-color: #ffba3a;">
          Adivina el número Secreto
        </mat-grid-tile>
      </mat-grid-list>
      <br>
      <label>Ingrese el número secreto</label>
      <mat-form-field class="fill">
        <input type="number" matInput placeholder="Respuesta" name="resp"[(ngModel)]="respuesta" required>
      </mat-form-field>
      <br>
      <div class="input">
        <button mat-raised-button (click)="NuevoNumero()" style="width: 50%; background-color:#2eceff;color:black">Nuevo</button>
        <button mat-raised-button style="width: 50%; background-color:#2bf702;color:black" (click)="VerificarNumero()">Responder</button>
      </div>
      <br>
      <div class="input" *ngIf="respondio">
        <h2>{{msgResultado}}</h2>
      </div>
      <br><br><br><br>
    </div>
  </div>
</div>
