<app-menu></app-menu>
<div class="fondo">
  <div class="midle">
    <div class="input">
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan="3" rowspan="2" style="background-color: #e100ff;">
            <img src="/assets/imagenes/chequear.jpg" class="imgn">
        </mat-grid-tile>
        <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
          <h2 class="titulo">{{tile.text}}</h2>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field class="fill">
        <input type="test" matInput placeholder="Respuesta" name="resp"[(ngModel)]="respuesta" required>
      </mat-form-field>
      <div class="input">
        <div class="example-button-row">
          <button (click)="ngOnInit()" class="boton"mat-raised-button type="reset" style="width: 50%; background-color:#2eceff;color:black">Nuevo</button>
          <button (click)="Comprobar()" class="boton" mat-raised-button style="width: 50%; background-color:#70f6af;color:black">Responder</button>
        </div>
      </div>
      <br>
      <mat-progress-bar
          [value]="aux" color="warn">
      </mat-progress-bar>
      <br><br><br>
    </div>
  </div>
</div>


