<app-menu></app-menu>
<div class="fondo">
  <div class="midle">
    <div class="input">
      <mat-grid-list cols="9" rowHeight="50px" class="tateti">
        <mat-grid-tile colspan="9" rowspan="4" style="background-color: #00ffd5;">
          <img src="/assets/imagenes/tateti.png" class="imgn">
        </mat-grid-tile>
        <mat-grid-tile class="mostrar"
        *ngFor="let tit of titulo"
        [colspan]="tit.cols"
        [rowspan]="tit.rows"
        [style.background]="tit.color">
           {{tit.text}}
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="9" rowHeight="100px">
        <mat-grid-tile class="mostrar2"
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color"
            (click)="marcar(tile.x,tile.y,tile.text)">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <br><br><br>
    <div class="input">
      <div class="example-button-row">
        <button (click)="reiniciar()" class="boton"mat-raised-button style="width: 100%; background-color:#8c00ff;color:black" >Reiniciar</button>
      </div>
    </div>
  </div>
</div>
