<mat-toolbar class="tool">
  <mat-toolbar-row>
    <a href="/score" mat-icon-button>
      <mat-icon class="example-icon">score</mat-icon> PUNTUACIONES
    </a>
    <span class="example-spacer"></span>
    <a href="/inicio" mat-icon-button>
      <mat-icon class="example-icon">videogame_asset</mat-icon> JUEGOS
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="Salir()">
      <mat-icon class="example-icon">exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
